@model CarDealershipManager.Core.Models.Veiculo

@{
    ViewData["Title"] = "Detalhes Veículo";
}

<h1>Detalhes</h1>

<div>
    <h4>Veiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoFabricacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoFabricacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoVeiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoVeiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fabricante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fabricante.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
